@font-face {
  font-family: 'icomoon';
  src: url('icons/fonts/icomoon.eot?9ywyna');
  src: url('icons/fonts/icomoon.eot?9ywyna#iefix') format('embedded-opentype'),
    url('icons/fonts/icomoon.ttf?9ywyna') format('truetype'),
    url('icons/fonts/icomoon.woff?9ywyna') format('woff'),
    url('icons/fonts/icomoon.svg?9ywyna#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: '\e905';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-cross:before {
  content: '\ea0f';
}

.App {
  background-color: #fff;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
}

.app__title {
  margin: 12px;
  color: #565d62;
}

.add-todo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.add-todo__input {
  flex-grow: 1;
  min-height: 30px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #0767ce;
  margin-right: 5px;
}

.add-todo__btn {
  height: 34px;
  width: 34px;
  background-color: #30b2d9;
  border: none;
}
.add-todo__btn::before {
  font-size: 15px;
  color: #fff;
}

.list {
  margin-bottom: 20px;
}

.todo {
  display: flex;
  min-height: 25px;
  align-items: center;
  padding: 5px 10px;
  border-top: 1px solid #efecec;
  border-bottom: 1px solid #efecec;
}

.todo__isChecked {
  margin: 0 10px 0 0;
}

.todo__text {
  flex-grow: 1;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: #0767ce;
  overflow: hidden;
}

.todo__text_checked {
  text-decoration: line-through;
}

.todo__btn {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  border: none;
  background-color: transparent;
}

.todo__btn::before {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  color: #565d62;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom__done {
  flex-basis: 45%;
  font-size: 14px;
  line-height: 16px;
  color: #565d62;
  border: 1px solid #efecec;
  text-align: center;
  padding: 5px;
  position: relative;
}

.bottom__done span {
  position: absolute;
  z-index: 20;
  transform: translateX(-50%);
}

.bottom__done-amount {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.bottom__remove {
  padding: 5px 25px 5px 10px;
  background-color: #30b2d9;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  border: 1px solid transparent;
  position: relative;
}

.bottom__remove:active {
  border: 1px solid #000;
}

.bottom__remove::before {
  position: absolute;
  top: 20%;
  right: 5px;
  font-size: 13px;
}

.todo__correcting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(123, 34, 100, 0.4);
  z-index: 100;
}

.todo__correcting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 600px;
  min-height: 450px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.todo__correcting-textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #b9c6c9;
  border-radius: 2px;
}

.correcting__btn {
  background-color: #fff;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid #b9c6c9;
  border-radius: 3px;
}
.correcting__btn:active {
  border-color: #000;
}

.todo__close-btn {
  margin-right: 25px;
}
